<section>
    <div class="text-center mt-5">
        <h2>Generate Bill</h2>
    </div>
    <div class="px-5 mt-4">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <label class="form-label">Room No</label>
                    <select class="form-select" (input)="onGetReservations($event)">
                        <option value="N/A">---Select Room No---</option>
                        <option *ngFor="let r of rooms" [value]="r.room_no">{{r.room_no}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="reservation" *ngIf="showData">
            <h4>Reservation(s)</h4>
            <hr>
            <div *ngIf="!showResv">
                <h4>No bookings to show</h4>
            </div>
            <div class="row" *ngIf="showResv">
                <div class="col-md-3" *ngFor="let r of reservations">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Booking ID: {{r.reservation_no}}</h5>
                            <h6 class="card-subtitle mt-3 mb-2 text-muted">Guest Name: {{r.lead_guest_name}}</h6>
                            <h6 class="card-subtitle mt-3 mb-2 text-muted">Contact Number: {{r.contact_no}}</h6>
                            <h6 class="card-subtitle mt-3 mb-2 text-muted">Room(s) Booked: 
                                <label *ngFor="let room of r.reservation_room_details">{{room.related_room.room_no}},</label>
                            </h6>
                            <div class="text-end">
                                <a class="card-link" style="cursor: pointer" (click)="printBill(r)">Print</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>