<div class="sidebar">
    <div class="logo_content">
        <div class="logo text-center text-light mt-4">
            <img src="assets/images/stdc.png" height="90">
        </div>
        <i class='bi bi-justify' id="btn"></i>
    </div>
    <hr>
    <ul class="nav_list">
        <li routerLink="/dashboard/home" routerLinkActive="active">
            <div class="icon-link">
                <label>
                    <i class="bi bi-pc-display-horizontal"></i>
                    <span class="links_name">Dashboard</span>
                </label>
            </div>
        </li>
        <li *ngIf="role === 1" routerLink="/dashboard/masters/property" routerLinkActive="active">
            <div class="icon-link">
                <label>
                    <i class="bi bi-buildings"></i>
                    <span class="links_name">Property Master</span>
                </label>
            </div>
        </li>
        <li *ngIf="role === 1" routerLink="/dashboard/masters/category" routerLinkActive="active">
            <div class="icon-link">
                <label>
                    <i class="bi bi-bookmark-star"></i>
                    <span class="links_name">Category Master</span>
                </label>
            </div>
        </li>
        <li *ngIf="role === 1" routerLink="/dashboard/masters/room" routerLinkActive="active">
            <div class="icon-link">
                <label>
                    <i class="bi bi-map"></i>
                    <span class="links_name">Room Master</span>
                </label>
            </div>
        </li>
        <li *ngIf="role === 1" routerLink="/dashboard/masters/users" routerLinkActive="active">
            <div class="icon-link">
                <label>
                    <i class="bi bi-person"></i>
                    <span class="links_name">User Master</span>
                </label>
            </div>
        </li>
        <!-- <li>
            <div class="icon-link">
                <label href="/dashboard">
                    <i class="bi bi-r-circle"></i>
                    <span class="links_name">Register</span>
                </label>
            </div>
        </li>
        <li>
            <div class="icon-link">
                <label href="/dashboard">
                    <i class="bi bi-bar-chart"></i>
                    <span class="links_name">Occupancy Chart</span>
                </label>
            </div>
        </li>
        <li>
            <div class="icon-link">
                <label href="/dashboard">
                    <i class="bi bi-check2-square"></i>
                    <span class="links_name">Allotment</span>
                </label>
            </div>
        </li>
        <li>
            <div class="icon-link">
                <label href="/dashboard">
                    <i class="bi bi-hourglass-bottom"></i>
                    <span class="links_name">Availability</span>
                </label>
            </div>
        </li>
        <li>
            <div class="icon-link">
                <label href="/dashboard">
                    <i class="bi bi-gear-wide-connected"></i>
                    <span class="links_name">Backup DB</span>
                </label>
            </div>
        </li> -->
    </ul>
</div>