<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex justify-content-center align-items-center col-md-4 col-lg-5 bg-image" style="background-color: #579FDD;">
            <!-- <h1>Logo/Image</h1> -->
        </div>
        <div class="col-md-8 col-lg-7">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                            <h3 class="login-heading mb-4 text-center">Guest House Management System</h3>
                            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                                    <input type="text" class="form-control" placeholder="Username" name="username" ngModel #username="ngModel" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel #password="ngModel" required><br>
                                </div>
                                <small class="text-danger" *ngIf="(username.touched && username.invalid) || (password.touched && password.invalid)">Please enter your credentials to continue</small>
                                <div class="d-grid mt-4">
                                    <button class="btn btn-lg btn-primary btn-login fw-bold mb-2" type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  