<app-loader *ngIf="showLoader"></app-loader>
<div class="px-5 py-2" *ngIf="!showLoader">
    <div class="text-end">
        <button class="btn btn-primary" (click)="onRouteAddTax()">+ Add Room Tariff</button>
    </div>
    <div class="err text-center mt-3" *ngIf="!taxes[0]">
        <h4>No Taxes Found</h4>
    </div>
    <table class="table table-bordered mt-3" *ngIf="taxes[0]">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">CGST(%)</th>
                <th scope="col">SGST(%)</th>
                <th scope="col">Lower Limit</th>
                <th scope="col">Upper Limit</th>
                <th scope="col">Service Tax(%)</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Is Applicable ?</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taxes; let i=index">
                <td width="4%" class="text-center">{{i+1}}</td>
                <td>{{t.cgst_percentage}}</td>
                <td>{{t.sgst_percentage}}</td>
                <td>{{t.lower_limit}}</td>
                <td>{{t.upper_limit}}</td>
                <td>{{t.service_tax_percentage}}</td>
                <td>{{t.start_date | date: 'dd-MM-YYYY'}}</td>
                <td>{{t.end_date | date: 'dd-MM-YYYY'}}</td>
                <td>
                    <div class="form-check form-switch d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" (click)="onDisableTax(false, t.id)" *ngIf="t.is_applicable" checked>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" (click)="onDisableTax(true, t.id)" *ngIf="!t.is_applicable">
                    </div>
                </td>
                <td width="10%" class="text-center"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" (click)="onRouteEditTax(t.id)"></i></td>
            </tr>
        </tbody>
    </table>
</div>