<div class="form px-5 py-2">
    <h3 *ngIf="!editMode; else edit">Add Room Category</h3>
    <ng-template #edit>
        <h3>Edit Room Category</h3>
    </ng-template>
    <hr>
    <form #roomRate="ngForm" (ngSubmit)="editMode ? onEditRoomCategory(roomRate) : onAddRoomCategory(roomRate)">
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Room Category Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="room_category" name="category" #category="ngModel" required>
                <small class="text-danger" *ngIf="category.touched && category.invalid">Please enter room category</small>
            </div>
            <div class="alert alert-success mt-4" *ngIf="showSuccess === 'true'">
                <span *ngIf="!editMode; else err">Room Category Added Successfully</span>
                <ng-template #err>
                    <span>Room Category Updated Successfully</span>
                </ng-template>
            </div>
            <div class="alert alert-danger" *ngIf="showSuccess === 'false'">
                Error !!
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary" (click)="onGoBack()" type="button">Go back</button>
                <button class="btn btn-primary ms-3" *ngIf="!editMode; else editData" type="submit">Submit</button>
                <ng-template #editData>
                    <button class="btn btn-primary ms-3" type="submit">Update</button>
                </ng-template>
            </div>
        </div>
    </form>
</div>