<div class="period px-5">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Select House</label>
            <select class="form-select">
                <option>--- Select House ---</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-3">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" style="margin-top: 31px;">Search</button>
        </div>
    </div>
</div>
<div class="rooms px-5 mt-5 mb-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" >
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Normal Rooms
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-4 mt-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Room No. 101</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Deluxe Rooms
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Room No. 101</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Available</h6>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              VIP Rooms
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Room No. 101</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Available</h6>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Room 101</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th span="col">S.No.</th>
                        <th span="col">Date</th>
                        <th span="col">Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th span="col">1</th>
                        <th span="col">20-01-2023</th>
                        <th span="col">Yes</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Book</button>
        </div>
      </div>
    </div>
</div>