.btn{
    background-color: #2a981c;
    border-color: #2a981c;
}
.btn:hover{
    background-color: #40A833;
    border-color: #40A833;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}