a{
    color: #2a981c;
}
a:hover{
    color: #40A833;
}
.logo{
    transition: transform 1.5s;
}
.title{
    display: block;
}
h5{
    font-family: 'Cinzel', serif;
}
.heading{
    font-family: 'Cookie', cursive;
    color: #29a31f;
}
.logo:hover{
    transform: scale(1.1);
}
.card{
    border: none;
}
@media(max-width: 767px){
    
}