<section class="vh-100">
    <div class="container py-1 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6 col-lg-9">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-2 p-lg-5 text-black">
                  <div class="title">
                    <div class="text-center">
                      <img src="assets/images/stdc.png" class="logo" alt="login form" height="150px"/>
                    </div>
                  </div>
                  <h2 class="heading fw-normal mb-3 pb-3 text-center mt-3" style="letter-spacing: 1px;">Sikkim House Reservation Portal</h2>
                  <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="pt-1 text-center">
                    <button class="btn btn-dark btn-lg btn-block w-100" type="button">Login</button>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <p>Designed and Developed by <a href="https://sikkim.nic.in" target="_blank">National Informatics Center (NIC) Sikkim State Unit</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>