<div class="header">
  <div class="logo_content p-3" style="font-size: 30px;">
      <i class='bi bi-justify' data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
  </div>      
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="text-end">
    <button type="button" class="btn-close p-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-header">
    <h5 class="text-center" id="offcanvasExampleLabel"><img src="assets/images/stdc.png" height="100"></h5>
  </div>
  <hr>
  <div class="offcanvas-body">
    <ul>
      <li [routerLink]="['/dashboard/home']" [routerLinkActive]="'active'">
        <div class="items">
          <i class="bi bi-pc-display-horizontal"></i>
          <label class="ms-4">Dashboard</label>
        </div>
      </li>
      <li [routerLink]="['/dashboard/booking']" [routerLinkActive]="'active'">
        <div class="items">
          <i class="bi bi-house-add"></i>
          <label class="ms-4">Book Room</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-puzzle"></i>
          <label class="ms-4">Extension</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-x-circle"></i>
          <label class="ms-4">Cancel</label>
        </div>
      </li>
      <li [routerLink]="['/dashboard/modify']" [routerLinkActive]="'active'">
        <div class="items">
          <i class="bi bi-pencil-square"></i>
          <label class="ms-4">Modify</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-r-circle"></i>
          <label class="ms-4">Register</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-bar-chart"></i>
          <label class="ms-4">Occupancy Chart</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-check2-square"></i>
          <label class="ms-4">Allotment</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-hourglass-bottom"></i>
          <label class="ms-4">Availability</label>
        </div>
      </li>
      <li>
        <div class="items">
          <i class="bi bi-gear-wide-connected"></i>
          <label class="ms-4">Backup DB</label>
        </div>
      </li>
    </ul>
    <!-- <label class="items" [routerLink]="['/dashboard/home']" [routerLinkActive]="'active'">
      <i class="bi bi-pc-display-horizontal ms-5"></i>
      <label class="ms-4">Dashboard</label>
    </label>
    <label class="items" [routerLink]="['/dashboard/booking']" [routerLinkActive]="'active'">
      <i class="bi bi-pc-display-horizontal"></i>
      <label class="ms-4">Book Room</label>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Extension</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Cancel</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Modify</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Register</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Occupancy Chart</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Allotment</span>
    </label>
    <label class="items">
      <i class="bi bi-pc-display-horizontal"></i>
      <span class="ms-4">Availability</span>
    </label> -->
  </div>
</div>