
<div class="px-5 py-2">
    <div class="text-end">
        <button class="btn btn-primary" (click)="onRouteAddRoomTariff()">+ Add Room Tariff</button>
    </div>
    <div class="err text-center mt-3" *ngIf="!room_rates[0]">
        <h4>No Room Tariffs Found</h4>
    </div>
    <table class="table table-bordered mt-3" *ngIf="room_rates[0]">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Room No</th>
                <th scope="col">Property</th>
                <th scope="col">Cost</th>
                <th scope="col" class="text-center">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of room_rates; let i=index">
                <td width="4%" class="text-center">{{i+1}}</td>
                <td>{{r.related_room.room_no}}</td>
                <td>{{r.related_property.name}}</td>
                <td>{{r.cost}}</td>
                <td width="10%" class="text-center"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" (click)="onRouteEditRoomTariff(r.id)"></i></td>
            </tr>
        </tbody>
    </table>
</div>