<div class="text-center title mt-5">
    <h2>Modify</h2>
</div>
<section class="table-responsive px-5 mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th span="col">S.No.</th>
                <th span="col">Booking ID</th>
                <th span="col">Name</th>
                <th span="col">Date</th>
                <th span="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>SK/HC/00001</td>
                <td>Mr. Adam Smith</td>
                <td span="col">13-02-2023</td>
                <td span="col" (click)="generatePDF()">Print</td>
            </tr>
        </tbody>
    </table>
</section>