<div class="mt-5 text-center">
    <h2>Reservation</h2>
</div>
<div class="container mt-4">
    <app-search (switchHouses)="onShowHouses($event)" [hidden]="!showSearch"></app-search>
    <div class="error text-center mt-4" [hidden]="showErr">
        <h5>No Rooms Available</h5>
    </div>
    <app-houses (switchDetails)="onShowDetails($event)" [hidden]="!showHouses"></app-houses>
    <app-details (switchAck)="onShowAck($event)" [hidden]="!showDetails"></app-details>
    <app-acknowledgment *ngIf="showAck"></app-acknowledgment>
</div>