.btn-primary{
    background-color: #579FDD;
    border-color: #579FDD;
}
.btn-primary:hover{
    background-color: #7CB8EC;
    border-color: #7CB8EC;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
}